<p id="notice"><%= notice %></p>

<p>
  <strong>List:</strong>
  <%= @task.list %>
</p>

<p>
  <strong>Title:</strong>
  <%= @task.title %>
</p>

<p>
  <strong>Completed at:</strong>
  <%= @task.completed_at %>
</p>

<%= link_to 'Edit', edit_list_task_path(@list, @task) %> |
<%= link_to 'Back', list_tasks_path(@list) %>
