<!DOCTYPE html>
<html>
  <head>
    <title>RailsLineSample</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= link_to 'root', root_path %>
    <% if user_signed_in? %>
      <%= link_to 'logout', destroy_user_session_path, method: :delete %>
      <%= link_to 'edit account', edit_user_registration_path %>
    <% else %>
      <%= link_to 'login', user_session_path %>
      <%= link_to 'new', new_user_registration_path %>
      <%= link_to 'forgot password', user_session_path %>
    <% end %>
    <%= yield %>
  </body>
</html>
